<h4>Detalle de la factura</h4>

<div *ngIf="items.length > 0; else noItemsTemplate">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td>{{ item.id }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="onRemove(item.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noItemsTemplate>
  <div class="alert alert-warning">¡No tiene items la factura!</div>
</ng-template>
